body, html {
	margin: 0;
	padding: 0;
	width: 100%;
}


.battleshp-table {
	width: 100%;
}

.laev1 {
    background-image: url("../img/titanicr.jpg") !important;
    background-repeat: no-repeat;
    background-position:right center !important;
}
.laev2 {
    background-image: url("../img/titanicl.jpg") !important;
    background-repeat: no-repeat;
    background-position:left center !important;
}
.laev {
    background-repeat: no-repeat;
    background-position:50% 50%;
}


.square {
	background-image: url("../img/water.jpg");
	background-repeat: no-repeat;
	background-position:center center;
}
